<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         beStrictAboutOutputDuringTests="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutTodoAnnotatedTests="true"
         bootstrap="vendor/autoload.php"
         verbose="true">
    <testsuites>
        <testsuite name="phpunit_rerun">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
</phpunit>